span {
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.about img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 60%;
}

.imgText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joyList {
  margin-bottom: 50px;
  width: 80%;
}

.joyList h4 {
  color: rgba(244, 237, 228, 0.717);
}

.aboutText{
  background-color: rgba(255, 255, 255, 0.650);
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 5px 5px 5px white;
}

.aboutText > p {
  font-size: 12px;
  line-height: 20px;
  padding: 0 12px;
  text-align-last: left;
  text-align: justify;
}

.interests {
  display: flex;
}

.left, .right {
  width: 50%;
}

.right > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  padding: 15px 0;
}

.left > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  padding: 15px 0;
}

.interestContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.650);
  padding: 20px;
  margin: 0 5px 5px 0;
}

.interestContainer p {
  margin: 0;
  padding-top: 10px;
  color: rgb(179, 173, 165);
}

.interestContainer svg {
  height: 30px;
  color: rgb(179, 173, 165);
}

@media only screen and (min-width: 768px) {
  .about {
    margin-top: 40px;
  }

  .imgText {
    flex-direction: row;
    padding: 30px;
  }

  .about img {
    width: 40%;
    margin: 0;
  }

  .aboutText {
    margin: 15px;
  }

  .aboutText p {
    font-size: 13px;
  }

  .joyList h4 {
    font-size: 20px;
  }
} 

@media only screen and (min-width: 912px) {
  .aboutText p {
    font-size: 14px;
  }
} 

@media only screen and (min-width: 1024px) {
  .about {
    width: 100%;
  }

  .aboutText {
    max-width: 500px;
  }

  .aboutText p {
    font-size: 16px;
    line-height: 25px;
  }

  .imgText img {
    max-height: 450px;
  }

  .joyList h4 {
    font-size: 22px;
  }
} 

@media only screen and (min-width: 1200px) {
  .aboutText p {
    font-size: 18px;
  }

  .joyList h4 {
    font-size: 23px;
  }
} 