.contact {
  /* background: linear-gradient(#9fa5d5, #e8f5c8); */
  /* background: linear-gradient(#561139, #38a2d7); */
  /* background: linear-gradient(#000000, #ffeaa7); */
  /* background: linear-gradient(#5D4954, #FFA69E
  ); */
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.541);
  box-shadow: 5px 5px 5px white;
  width: 80%;
  padding: 30px;
  /* height: 440px; */
}

.header {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header p {
  line-height: 15px;
  text-align: justify;
  text-align-last: center;
  width: 80%;
  margin: 0;
  font-size: 12px;
}

.contactLinks {
  display: flex;
  justify-content: space-evenly;
  /* justify-self: flex-end; */
  /* align-items: center; */
  /* padding: 15px; */
  width: 50%;
}

.contactLinks a {
  display: flex;
  justify-content: center;
}

.contactLinks img {
  width: 50%;
  padding: 10px;
  margin: 5px;
  box-sizing: unset;
}

.contactLinks img:hover {
  cursor: pointer;
  /* width: 35px; */
  border: 0.5px solid white;
  box-shadow: 5px 5px 5px white;
  /* border-radius: 10px; */
  /* background-color: #F4F0EA; */
}

.header h1 {
  text-align: center;
  margin: 20px 0 15px 0;
}

form {
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
}

form input {
  border: none;
  background-color: rgba(255, 255, 255, 0.541);
  height: 30px;
  padding-left: 6px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

form input:focus {
  border-bottom: 0.5px solid #3D414C;
  outline-width: 0;
}

form input:hover {
  border-bottom: 0.5px solid #3D414C;
}

form textarea {
  padding-left: 6px;
  border: none;
  resize: none;
  min-height: 80px;
  max-height: 180px;
  background-color: rgba(255, 255, 255, 0.541);
  font-family: 'Montserrat', sans-serif;
}

textarea:focus {
  border-bottom: 0.5px solid #3D414C;
  outline-width: 0;
}

textarea:hover {
  border-bottom: 0.5px solid #3D414C;
}

#send {
  width: 50%;
  align-self: center;
  margin-top: 15px;
  background-color: transparent;
  border: 0.5px solid #3D414C;
}

#send:hover {
  font-weight: 700;
  cursor: pointer;
  /* letter-spacing: 4px; */
}

@media only screen and (min-width: 768px) {
  .contact {
    height: 100vh;
    justify-content: center;
  }

  .header p {
    font-size: 15px;
    line-height: 20px;
  }
} 

@media only screen and (min-width: 912px) {
  .contact {
    width: 100%;
  }

  .contactContainer {
    max-width: 640px;
  }
} 