.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5EFE3;;
  height: 100vh;
}

.home > img {
  border-radius: 10px;
  width: 200px;
}