.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #E6E7E5; */
  height: 100vh;
  /* padding-top: 40px; */
}

.home > img {
  border-radius: 10px;
  width: 200px;
}