nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 60px;
  width: 100%;
  /* background-color: #F5EFE3; */
  background-color: none;
}

.container > a {
  padding: 0 15px 0 15px;
  /* color: #A6AA9C; */
  color: white;
}