nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 60px;
  width: 100%;
  background-color: none;
  margin: 10px;
  /* border: 2px solid blue; */
}

.container a {
  padding: 15px;
  color: rgba(244, 237, 228, 0.717);
  margin: 5px;
}

.container a:hover {
  border: 0.5px solid white;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    position: sticky;
    top: 0px;
    width: fit-content;
    margin: 0 10px 0 0;
    /* border: 1px solid orange; */
  }
  
  .container a {
    padding: 25px;
  }
} 