nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 60px;
  width: 100%;
  background-color: none;
  margin: 10px;
}

.container a {
  padding: 15px;
  color: rgba(244, 237, 228, 0.717);
  margin: 5px;
}

.container a:hover {
  border: 0.5px solid white;
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    position: sticky;
    top: 0px;
    width: 10%;
  }
  
  .container a {
    padding: 25px;
  }
} 