.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projectList {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .projects {
    padding-top: 40px;
  }

  .projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
} 