a {
  text-decoration: none;
  color: black;
}

h3 {
  text-align: center;
}

.projectContainer {
  border: 0.5px solid black;
  margin: 30px 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.projectContainer > div {
  height: 20%;
}

img {
  width: 100%;
  /* scale: .5; */
  /* height: 40px; */

}