.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info, .images {
  width: 80%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  background-color: rgba(255, 255, 255, 0.541);
  box-shadow: 5px 5px 5px white;
  padding: 15px;
  width: 80%;
  text-align: justify;
  text-align-last: center;
  line-height: 20px;
  font-size: 12px;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.mobile {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px 0;
}

.mobile img {
  max-width: 40%;
  border-radius: 20px;
}

.laptop {
  border-radius: 3px;
  margin-top: 15px;
  width: 90%;
}

.links button {
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin: 8px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}

.links button:hover {
  border: 0.5px solid white;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.tech {
  margin: 15px 0;
  width: 100%;
  text-align: center;
}

.tech img {
  width: 15%;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.650);
  border-radius: 10px;
  margin: 5px;
}

@media only screen and (min-width: 425px) {
  .mobile img {
    border-radius: 35px;
  }
}

@media only screen and (min-width: 768px) {
  .projectDetails {
    padding-top: 40px;
    width: 100%;
  }

  .tech img {
    width: 13%;
  }

  .mobile img {
    border-radius: 40px;
  }

  .images {
    max-width: 70%;
  }
} 

@media only screen and (min-width: 912px) {
  .info, .images {
    max-width: 60%;
  }

  .tech img {
    width: 12%;
  }

  .mobile img {
    border-radius: 45px;
  }
} 

@media only screen and (min-width: 1024px) {
  .info, .images {
    max-width: 50%;
  }

  .tech img {
    width: 11%;
  }

  .mobile img {
    border-radius: 48px;
  }
} 

@media only screen and (min-width: 1200px) {
  .info, .images {
    max-width: 40%;
  }

  .tech img {
    width: 10%;
  }

  .mobile img {
    border-radius: 50px;
  }
} 